<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Vitae dapibus vestibulum. Pellentesque at a. Risus platea tempus. Blandit 
  proin dignissim porta eu ut sollicitudin vel adipiscing. Neque nulla eleifend 
  mauris wisi commodo amet tellus ligula nulla eleifend pellentesque.
</p>