<% if logged_in? %>
  <div class="row">
    <aside class="col-md-2">
      <p>Information</p>
    </aside>
    
    <div class="col-md-8">
      <section class="post_form">
        <h3>Status Feed</h3>
        <%= render 'shared/post_form' %>
      </section>
      
      <%= render 'shared/feed' %>
    </div>
    
    <aside class ="col-md-2">
      <p>Information</p>
    </aside>
  </div>
<% else %>

<h1>Welcome to Socializer</h1>
<p>Connect with your friends</p>
<% end %>



